<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="PersonBean" class="cn.ieayoio.spring.spring014_DependCheck.Person">
        <property name="name" value="yiibai"/>
        <property name="address" value="address ABC"/>
        <property name="age" value="29"/>
    </bean>

    <bean id="CustomerBean1" class="cn.ieayoio.spring.spring014_DependCheck.Customer">
        <property name="action" value="buy"/>
    </bean>

    <bean id="CustomerBean2" class="cn.ieayoio.spring.spring014_DependCheck.Customer"
          dependency-check="simple">
        <property name="action" value="buy"/>
        <!-- 加入了dependency-check="simple" type的值必须设置 -->
        <property name="type" value="123"/>
    </bean>

    <bean id="CustomerBean3" class="cn.ieayoio.spring.spring014_DependCheck.Customer"
          dependency-check="objects">
        <property name="action" value="buy"/>
        <!-- 加入了dependency-check="objects" person的值必须设置 -->
        <property name="person" ref="PersonBean"/>
    </bean>

    <bean id="CustomerBean4" class="cn.ieayoio.spring.spring014_DependCheck.Customer"
          dependency-check="all">
        <property name="action" value="buy"/>
        <!-- 加入了dependency-check="all", type和person的值全都必须必须设置 -->
        <property name="type" value="45354"/>
        <property name="person" ref="PersonBean"/>
    </bean>

</beans>