<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--两种方式使Spring意识到@PostConstruct和@PreDestroy的存在-->
    <!--<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />-->
    <context:annotation-config/>

    <bean id="customerService" class="cn.ieayoio.spring.spring015_AtPostConstruct_AtPreDestroy.CustomerService">
        <property name="message" value="i'm property message"/>
    </bean>

</beans>