<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">


    <bean id="customer" class="cn.ieayoio.spring.spring019_01_auto_wiring.Customer" autowire="byName" />

    <bean id="address" class="cn.ieayoio.spring.spring019_01_auto_wiring.Address" >
        <property name="fulladdress" value="Block A 888, CA" />
    </bean>

</beans>