<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="itemBean" class="cn.ieayoio.spring.spring016_01_Spring_EL_helloWorld.Item">
        <property name="name" value="itemA" />
        <property name="qty" value="10" />
    </bean>

    <bean id="customerBean" class="cn.ieayoio.spring.spring016_01_Spring_EL_helloWorld.Customer">
        <property name="item" value="#{itemBean}" />
        <property name="itemName" value="#{itemBean.name}" />
    </bean>

</beans>